@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "./templates";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  /* TBD */
}

/* optional: narrower measure for long docs */
.prose { max-width: 70ch; }

/* neat, non-interactive checkboxes */
.prose input[type="checkbox"]{
  width: 1rem; height: 1rem;
  margin-right: 0.5rem;
  accent-color: currentColor; /* uses text color for the tick */
}
.prose input[type="checkbox"][disabled]{ cursor: default; }
