<!DOCTYPE html>
<html lang="sv">

  <!-- The head element shared by all pages -->
  {% include 'head.html' %}

<body class="min-h-screen flex flex-col bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200">
 
  <!-- The header and nav elements shared by all pages -->
  {% include 'header.html' %}

  <!-- Main -->
  <main class="mb-main">

  <!-- Main left area: Observations -->
  {% include 'hx-observations-list.html' %}

  <!-- Right hand area: Rankings -->
  <section id="right-section" class="mb-right-section invisible md:visible">
    <div class="mb-card">
      <div class="mb-card-header">
        <h2 class="text-sm font-semibold">Årslistan</h2>
      </div>
      <div class="mb-card-last-contents">
        Finns inget stöd för detta i Artportalens API
      </div>
    </div>

    <div class="mb-card">
      <div class="mb-card-header">
        <h2 class="text-sm font-semibold">Totallistan</h2>
      </div>
      <div class="mb-card-last-contents">
        Finns inget stöd för detta i Artportalens API
      </div>
    </div>
  </section>

  </main>

  <!-- The footer element shared by all pages -->
  {% include 'footer.html' %}

</body>
</html>

