<!DOCTYPE html>
<html lang="sv" class="h-full">

  <!-- The head element shared by all pages -->
  {% include 'head.html' %}

<body class="h-full min-h-screen flex flex-col bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200">

  <!-- The header and nav elements shared by all pages -->
  {% include 'header.html' %}

  <!-- Main -->
  <main class="flex-1 w-full px-3 sm:px-4 lg:px-6 py-6 grid grid-cols-1 md:grid-cols-3 gap-6 text-xs">

    <!-- 404 content -->
    <section id="not-found" class="text-sm prose prose-slate dark:prose-invert md:col-span-3 mx-auto">
      <div class="bg-white dark:bg-neutral-900 border border-neutral-200 dark:border-neutral-700 rounded-lg">
        <div class="p-4 prose prose-slate dark:prose-invert max-w-none">
          <h1 class="!mb-2">404 – Nu dippade du!</h1>
          <div class="flex justify-center py-2">
            <img src="/app/resources/404-bird.png" alt="Besviken mås med kikare" class="max-h-64 w-auto">
          </div>
          <p class="!mt-0">
            Sidan eller resursen <code>{{ path }}</code> finns tyvärr inte. Om du har sparat ett gammalt bokmärke så är det dags att ta bort det. Har du fått länken av någon annan, så kan du säga till den personen att länken inte funkar.
          </p>
          <p class="!mt-0">
            Du kan gå till startsidan genom att klicka på SthlmBetong-loggan uppe till vänster eller så kan du gå tillbaka till föregående sida genom att klicka på webbläsarens "tillbaka" knapp.
          </p>
          <p class="!mt-0">
            Eller ännu bättre, sluta hänga på webben. Gå ut och skåda i betongen istället!
          </p>
        </div>
      </div>
    </section>

  </main>

  <!-- The footer element shared by all pages -->
  {% include 'footer.html' %}

</body>
</html>
