<!DOCTYPE html>
<html lang="sv" class="h-full">

  <!-- The head element shared by all pages -->
  {% include 'head.html' %}

<body class="{{ 'pt-8' if environment == 'DEV' else '' }} h-full min-h-screen flex flex-col bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200">
 
  <!-- The header and nav elements shared by all pages -->
  {% include 'header.html' %}

    <!-- Main -->
    <main class="mb-main">

      <!-- Section with map -->
      <section id="maps-section" class="mb-left-section">
        <div class="mb-card">

          <!-- Map header -->
          <div class="mb-card-header">
            <h2 class="text-sm font-semibold">Karta</h2>
          </div>

          <div class="mb-card-last-contents">
            <div id="map" class="h-[360px] lg:h-[800px] md:rounded-md"></div>
            <p class="pt-2">För att en obs ska räknas som en betongobs, måste den göras av en person innanför betonggränsen och fågeln måste dessutom också vara innanför gränsen. Det gäller även överflygande fåglar. OBS! Detta skiljer sig från etablerade tomtskådningsregler, där det räcker med att man själv är innanför gränsen.</p>
          </div>

        </div>
      </section>

      <!-- Right hand area with birding sites -->
      <section class="mb-right-section invisible md:visible">
        <div class="mb-card">
          <div class="mb-card-header">
            <h2 class="text-sm font-semibold">Lokaler</h2>
          </div>
          <!--<div class="overflow-x-auto">-->
          <div class="mb-card-last-contents">
             Här är det tänkt att det ska finnas info om lokaler i betongen.
          </div>
        </div>
      </section>
 
  </main>

  <!-- The footer element shared by all pages -->
  {% include 'footer.html' %}

  <!-- JavaScript snippet for the MapLibre GL JS map -->
  <script>
    const isMobile = window.matchMedia("(max-width: 768px)").matches;

    const map = new maplibregl.Map({
      container: 'map',
      style: '/mapping/style',
      center: [18.051457, 59.326896], // This is on Norr Mälarstrand, close to Stockholms Stadshus.
      zoom: isMobile ? 11 : 12,
    })

    map.addControl(new maplibregl.NavigationControl(), 'top-right');

    map.on('load', () => {
      console.log('STYLE:', map.getStyle());
      console.log('SOURCES:', map.getStyle().sources);
      console.log('LAYERS:', map.getStyle().layers.map(l => l.id));

      // Log any errors MapLibre sees
      map.on('error', e => console.error('Map error:', e.error));
    });
  </script>

</body>
</html>
